.live-wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  .time-wrap {
    width: 82%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .live-box {
      width: 100%;
      margin-top: 20px;

      .pre-live-bg {
        width: 100%;
      }
    }
  }
}