@import "../../styles/common.less";

.introduction-wrap {
  font-family: 'GlowSansJ-Condensed-Medium';
  position: relative;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .top-logo {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 20%;
  }

  .text-wrap {
    position: absolute;
    // top: 18rem;
    top: 20%;
    padding: 0 50px 0 25px;
    color: @main-color;
    line-height: 1.6;
    font-size: @main-font-size;

    .middle-text {
      padding: 50px 0 50px 50px;
    }

    .step3-text {
      margin-top: 100px;
    }
  }

  .next-btn {
    position: absolute;
    width: 15%;
    left: 25px;
    bottom: 200px;
  }
}