.result-wrap{
  overflow: auto;
  .poster-wrap {
    position: relative;
    display: block;
    width: 85%;
    margin: 10% auto 2rem;

    .audio-btn {
      position: absolute;
      top: 44%;
      left: 12%;
      width: 23%;
    }
  }
  .result-img {
    width: 100%;
  }
  
  .bottom-btn {
    width: 85%;
    margin: 0 auto;

    .back-next-btn {
      justify-content: space-between;
    }
  }
}