.welcome-wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .welcome-top-img {
    position: absolute;
    top: 2rem;
    left: 2rem;
    height: 0.6rem;
  }

  .welcome-main-img {
    height: 90%;
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
  }

  .welcome-bottom-img {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    height: 0.6rem;
  }
}