.questions-wrap {  
  .questions-center-img {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
  }
  
  .questions-next-img {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translateX(-50%);
  }
  
}