@import "../../styles/common.less";
.questions-wrap {
  font-family: 'GlowSansJ-Condensed-Medium';
  overflow: hidden;

  .questions-center-img {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
  }

  .question-cont {
    width: 78%;
    margin: 30% auto 0;
    font-size: @main-font-size;

    &.set-font-size {
      text-align: center;

      .select-text {
        font-size: @main-font-size !important;
      }
    }

    .question-mark {
      text-align: center;
    }

    .question-title {
      line-height: 1.5;
      margin-top: 13px;
    }

    .select-box-wrap {
      width: 100%;
      margin-top: 50px;
      .select-box {
        position: relative;
        width: 88%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        .select-bg {
          width: 100%;
        }

        .select-text {
          width: 72%;
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -40%);
          word-break: break-word;
          text-align: center;
          line-height: 1.4;
          font-size: 14px;
        }
      }
    }
    .question-btns {
      width: 65%;
      text-align: initial;
      margin: 45px auto 0;
      display: flex;
      justify-content: space-between;
      .back-btn {
        height: 25px;
      }
      .next-btn {
        height: 25px;
      }
      .memories-btn {
        height: 25px;
      }
    }
  }

  .input-question {
    width: 100%;
    text-align: center;
  }

  .input-box-wrap {
    width: 100%;
    position: relative;

    .input-box-bg {
      width: 100%;
    }

    textarea {
      position: absolute;
      top: 30%;
      width: 61%;
      left: 50%;
      transform: translateX(-50%);
      height: 38%;
      font-size: 15px;
      border: none;
      outline: none;
      background: transparent;
      line-height: 2;
      color: @main-color;
    }
  }
  
  .questions-next-img {
    position: absolute;
    height: 25px;
    top: 68%;
    left: 50%;
    transform: translateX(-50%);
  }
  
}