* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f5e6;
}

.safe-padding-top {
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}
.safe-margin-top {
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
}
.safe-padding-bottom {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}
.safe-margin-bottom {
  margin-bottom: constant(safe-area-inset-bottom);
  margin-bottom: env(safe-area-inset-bottom);
}